{% extends './Partials/Base.twig' %}

{% block title %}{{ "Title.ResetYourPassword" | trans({}, 'OAuth') }}{% endblock %}

{% block body %}
    {{ form_start(resetForm) }}
        <section class="row justify-content-center mt-5 mb-3">
            <section class="card text-bg-secondary" style="max-width: 45rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Title.ResetYourPassword" | trans({}, 'OAuth') }}</h5>
                    <p class="card-text">
                        {{ form_row(resetForm.plainPassword) }}
                    </p>
                </div>
                <div class="card-footer"></div>
                <button class="btn btn-primary">{{ "Button.ResetPassword" | trans({}, 'OAuth') }}</button>
                <br>
            </section>
        </section>
    {{ form_end(resetForm) }}
{% endblock %}
